.main {
    height: 90%;
    width: 97%;
    position: absolute;
    background: #fff;
    background-size: 100% 100%;
    display: flex;
}

.signup-img {
    height: 100%;
    width: 40%;
    background-image: url("../../assets/Imagenes/signup-img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.signup-form {
    height: 100%;
    width: 60%;
    overflow: auto;
}

.signup-content {
    height: 100%;
    width: 100%;
}