
<!--<h2>REGISTRO ALUMNO</h2>
<form [formGroup] ="formulario"> 
        <h4>DATOS PERSONALES DEL ALUMNO</h4>
        <label>Nombre(s):</label>
        <p><input formControlName="nombre" type="text" placeholder="Nombre(s) del alumno"></p>
        
        <label>Apellido paterno:</label>
        <p><input formControlName="apellidoPaterno" type="text" placeholder="Apellido paterno"></p>

        <label>Apellido materno:</label>
        <p><input formControlName="apellidoMaterno" type="text" placeholder="apellido materno"> </p>

        <label>CURP:</label>
        <p><input formControlName="curp" type="text" placeholder="CURP"> </p>
        
        <label>Fecha de nacimiento:</label>
        <p><input formControlName="fechadeNacimiento" type="date" placeholder="Fecha de nacimiento"></p>

        <label>Edad:</label>
        <p><input formControlName="edad" type="number" min="10" max="80" placeholder="Edad"></p>

        <label>Sexo:</label>
        <p>
            <select formControlName="sexo">
                <option value="1">Masculino</option>
                <option value="2">Mujer</option>
            </select>
        </p>
        
        <label>Dirección:</label>
        <p><input formControlName="direccion" type="text" placeholder="Dirección"> </p>

        <label>Municipio:</label>
        <p><input formControlName="municipio" type="text" placeholder="Municipio"></p>
    
    
    
        <h4>Datos de la escuela</h4>
        
        <label>Matricula:</label>
        <p> <input formControlName="matricula" type="text" placeholder="Matricula"> </p>

        <label>Carrera: </label>
        <p>
            <select formControlName="carrera">
                <option value="1">Carrera1</option>
                <option value="2">Carrera2</option>
            </select>
        </p>

        <label>Aula:</label>
        <p>
            <select formControlName="aula">
                <option value="1">Aula 1</option>
                <option value="2">Aula 2</option>
            </select>
        </p>

        <label>Estado:</label>
        <p>
            <select formControlName="estado">
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
                <option value="3">Concluido</option>
            </select>
        </p>

        <label>Folio de certificado:</label>
        <p> <input formControlName="foliocertificado" type="text" placeholder="Folio de certificado"> </p>

    <button class="btn btn-primary" type="submit" (click)="guardar(formulario.value)" >Guardar</button>
</form>

<button class="btn btn-primary" (click)="regresar()">Inicio</button>-->