<div class="main">
    <div class="signup-img"></div>
    <div class="signup-form">
        <div class="title-form">
            <h4 class="card-header">Registro de Alumno {{tipoAlumno}}</h4>
        </div>
        <div class="signup-content">
            <mat-horizontal-stepper linear #stepper>
                <mat-step [stepControl]="datosPersonales" errorMessage="Name is required." [editable]="isEditable">
                    <ng-template matStepLabel>Datos Personales</ng-template>

                    <div class="form-group">
                        <label>Tipo de Registro:</label>
                        <button type="button" class="btn-outline-info" style="margin-left: 0.5em"
                            (click)="chage_alumno()">{{nameButton}}</button>
                    </div>

                    <form [formGroup]="datos_personales">
                        <label>Nombre(s):</label>
                        <p><input formControlName="nombre" type="text" class="form-control"
                                placeholder="Nombre(s) del alumno"></p>

                        <div class="row">
                            <div class="col">
                                <label>Apellido paterno:</label>
                                <p><input formControlName="apellidopaterno" type="text" class="form-control"
                                        placeholder="Apellido paterno"></p>
                            </div>
                            <div class="col">
                                <label>Apellido materno:</label>
                                <p><input formControlName="apellidomaterno" type="text" class="form-control"
                                        placeholder="Apellido materno"> </p>
                            </div>
                            <div class="col">
                                <label>Fecha de nacimiento:</label>
                                <p><input formControlName="fechadenacimiento" type="date" class="form-control"
                                        placeholder="Fecha de nacimiento"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>CURP:</label>
                                <p><input formControlName="curp" type="text" class="form-control" placeholder="CURP">
                                </p>
                            </div>

                            <div class="col-md-3">
                                <label>Edad:</label>
                                <p><input formControlName="edad" type="number" class="form-control" min="10" max="80"
                                        placeholder="Edad"></p>
                            </div>
                            <div class="col-md-3">
                                <label>Sexo:</label>
                                <p>
                                    <select formControlName="sexo" class="form-control">
                                        <option value="1">Hombre</option>
                                        <option value="2">Mujer</option>
                                    </select>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Municipio:</label>
                                <p><input formControlName="municipio" type="text" class="form-control"
                                        placeholder="Municipio"></p>
                            </div>
                            <div class="col">
                                <label>Dirección:</label>
                                <p><input formControlName="direccion" type="text" class="form-control"
                                        placeholder="Dirección"> </p>
                            </div>
                        </div>

                        <div *ngIf="alumno_prepa">
                            <label>Tutor:</label>
                            <input formControlName="tutor" type="text" class="form-control" placeholder="Tutor">
                        </div>

                        <label>Teléfono:</label>
                        <input formControlName="telefono" class="form-control" type="tel"
                            placeholder="+55 000 000 00 00">

                        <div style="float: right;">
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>

                    </form>

                </mat-step>
                <mat-step [stepControl]="datos_escuela" errorMessage="Name is required." [editable]="isEditable">
                    <ng-template matStepLabel>Datos Escolares</ng-template>
                    <form [formGroup]="datos_escuela">

                        <div class="row">
                            <div class="col">
                                <label>Matricula:</label>
                                <p> <input formControlName="matricula" type="text" class="form-control"
                                        placeholder="Matricula"> </p>
                            </div>
                            <div class="col">
                                <label>Aula:</label>
                                <p>
                                    <select formControlName="grupo" class="form-control">
                                        <option *ngFor="let grup of grupos" value="{{grup.id}}">{{grup.nombre}} {{grup.id}}</option>
                                    </select>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            
                            <div *ngIf="!alumno_prepa" class="col">
                                    <label>Carrera:</label>
                                    <p>
                                        <select formControlName="carrera" class="form-control">
                                            <option *ngFor="let carrera of carreras" value="{{carrera.id}}">{{carrera.nombre}}</option>
                                        </select>
                                    </p>
                            </div>
                        </div>


                        <label>Modalidad:</label>
                        <p>
                            <select formControlName="modalidad" class="form-control">
                                <option value="1">Escolarizado</option>
                                <option value="2">Semi Escolarizado</option>
                                <option value="3">Linea</option>
                            </select>
                        </p>

                        <label>Folio de certificado:</label>
                        <p> <input formControlName="folio_certificado" type="text" class="form-control"
                                placeholder="Folio de certificado">
                        </p>

                        <div style="float: right;">
                            <button mat-button matStepperPrevious>Atras</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>

                    </form>
                </mat-step>
                <mat-step [stepControl]="documentos" errorMessage="Name is required." [editable]="isEditable">
                    <ng-template matStepLabel>Documentación</ng-template>

                    <form [formGroup]="documentos">
                        <mat-checkbox type="checkbox" formControlName="certificado_original" value="true"> Certificado
                            original</mat-checkbox><br>
                        <mat-checkbox type="checkbox" formControlName="certificado_tres_copias" value="1"> certificado 3
                            copias</mat-checkbox><br>
                        <mat-checkbox type="checkbox" formControlName="acta_nacimiento" value="1"> acta de nacimiento
                            original </mat-checkbox><br>
                        <mat-checkbox type="checkbox" formControlName="acta_de_nacimiento_tres_copias" value="1"> acta
                            de
                            nacimiento 3 copias</mat-checkbox><br>
                        <mat-checkbox formControlName="ine_tres_copias" value="1"> INE 3 copias</mat-checkbox><br>
                        <mat-checkbox formControlName="comprobante_de_domicilio" value="1"> comprobante de
                            domicilio</mat-checkbox>

                        <div style="float: right; margin-top: 3em;">
                            <button mat-button matStepperPrevious>Atras</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step>
                    <p>¿Te aseguraste de llenar correctamente todos los campos? </p>
                    <ng-template matStepLabel>Guardado</ng-template>

                    <button type="button" class="btn btn-success" mat-button
                        (click)="registrar(datos_personales.value, datos_escuela.value, documentos.value)">Registrar
                    </button>


                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>