<header class="header">
  <nav class="navbar-expand-lg navbar">
    <a class="navbar-brand" style="color: white" href="">Centro de Estudios Avanzados</a>

    <button class="navbar-toggler" style="background-color: rgb(250, 219, 250); color: violet;" type="button"
      data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" w-100 order-1 order-md-0 dual-collapse2>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <button class="nav-link button_no_found" style="color: white" (click)="home()">Inicio<span
              class="sr-only">(current)</span></button>
        </li>
        <li class="nav-item">
          <button class="nav-link button_no_found" style="color: white" (click)="registroAlumno()">Alumnos</button>
        </li>
        <li class="nav-item">
          <button class="nav-link button_no_found" style="color: white" (click)="registroMaestro()">Maestros</button>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Control de pagos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Calificaciones</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administracion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" (click)="listaMaestros()">Control Maestros</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="listaAlumnos()">Control Estudiantes</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>