<header class="header">
  <nav class="navbar-expand-lg navbar">
    <a class="navbar-brand" style="color: black" href="">Centro de Educación Avanzada</a>

    <button class="navbar-toggler" type="button"
      data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: black;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" w-100 order-1 order-md-0 dual-collapse2>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <button class="nav-link button_no_found" style="color: black" (click)="home()">Inicio<span
              class="sr-only">(current)</span></button>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: black" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Registros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item button_no_found" (click)="registroMaestro()">Maestros</button>
            <button class="dropdown-item button_no_found" (click)="registroAlumno()">Estudiantes</button>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: black" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Control
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" (click)="listaMaestros()">Maestros</button>
            <button class="dropdown-item" (click)="listaAlumnos()">Estudiantes</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="aulas()">Aulas</button>
            <button class="dropdown-item" (click)="carreras()">Carreras</button>
            <button class="dropdown-item" (click)="materias()">Materias</button>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: black" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pagos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <button class="dropdown-item" (click)="pagosAlumnos()">Estudiantes</button>
              <button class="dropdown-item" (click)="pagosMaestros()">Maestros</button>
            </div>
          </li>
        <li class="nav-item">
          <button class="nav-link button_no_found" (click)="calificaciones()">Calificaciones</button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>