@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container-fluid {
    height: 100%;
    width: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
}

.navbar-toggle {
    border-color: aqua;
    color: #fff !important;
}

