<div class="view">
    <div class="row">
        <div class="col-md-12 text-left">
            <h3 class="h1-reponsive text-uppercase mb-0 pt-md-3 pt-3"
                style="letter-spacing: 3px; font-family: 'Signika', sans-serif;"><strong class="d-inline-flex"> Aulas
                </strong></h3>
                <button data-toggle="modal" data-target="#agregarModal"mat-fab>Agregar</button>
            <hr class="hr-light my-3">
            <div class="buscador mb-2 text-center ">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aula of listaAulas">
                            <td>{{aula.nombre}}</td>
                            <td>
                                <button class="button_no_found material-icons" data-toggle="modal"
                                    data-target="#exampleModal" (click)="editar(aula)">edit
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <!-- Modal editar-->
    <div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar aula </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formulario">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Nombre:</label>
                                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="guardar(formulario.value)">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Agregar-->
    <div class="modal fade bd-example-modal-xl" id="agregarModal" tabindex="-1" role="dialog"
        aria-labelledby="agregarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarModalLabel">Agregar aula </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formulario">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Nombre:</label>
                                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="agregar(formulario.value)">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>