<div class="view">
  <div class="mask rgba-black-light align-items-left">

    <div class="row">
      <div class="prueba" style="margin-left: 2em;">
        <!--Grid column-->
        <div class="col-md-12 mb-4 text-left">
          <h1 class="h1-reponsive text-white text-uppercase mb-0 pt-md-5 pt-5"
            style="letter-spacing: 8px; font-family: 'Signika', sans-serif;"><strong class="d-inline-flex"
              style="background-color: rgba(211, 17, 137, 0.356)"> Universidad CEA</strong></h1>
          <hr class="hr-light my-3">
          <div class="mb-4">
            <h5 class="text-uppercase mb-4 text-white" style="letter-spacing: 3px;"><strong class="d-inline-flex"
                style="background-color: rgba(211, 17, 137, 0.356)">El Cámino al éxito</strong></h5>
          </div>
          <div clas="buttons" style="margin-top: 4em;">
            <div class="buttons-registers">
              <button class="btn btn-success" style="color: white; font-size: 18px; font-family: 'Roboto', sans-serif;"
                (click)="registroAlumno()">Registrar Alumno</button>
              <button class="btn btn-success botones" (click)="registroMaestro()">Registro Maestro {{valor}}</button>
            </div>
            <div class="buttons-administracion mt-4">
              <button class="btn btn-success"  style="color: white; font-size: 18px; font-family: 'Roboto', sans-serif;" (click)="listaMaestro()">Administración</button>
              <button class="btn btn-success botones" disabled>Calificaciones</button>
              <button class="btn btn-success botones" disabled>Control de Pagos</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>