

.hr-light {
    margin-left: 0%;
    border-top: 5px solid #fff;
    width: 300px;  
}

.botones{
    margin-left: 1em;
    color: white !important;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}