<div class="view">
  <div class="mask rgba-black-light align-items-center">

    <div class="row">
      <div class="col-md-12 mb-4 text-center">
        <h1 class="h1-reponsive text-black text-uppercase mb-0 pt-md-5 pt-5"
          style="letter-spacing: 10px; font-family: 'Signika', sans-serif; font-size: 80px;"><strong
            class="d-inline-flex">Universidad CEA</strong></h1>
        <hr class="hr-light my-5">
        <div class="mb-3">
          <h5 class="mb-3 text-black" style="letter-spacing: 3px; font-size: 35px;"><strong class="d-inline-flex">
              El cámino al éxito</strong></h5>
        </div>
        <div clas="buttons" style="margin-top: 7em;">
          <div class="buttons-registers">
            <button class="btn btn-outline-success"
              style="color: black; font-size: 18px; font-family: 'Roboto', sans-serif;"
              (click)="registroAlumno()">Registrar Alumno</button>
            <button class="btn btn-outline-success botones" (click)="listaAlumnos()">Estudiantes</button>
            <button class="btn btn-outline-success botones" (click)="listaMaestros()"> Maestros</button>
          </div>
          <div class="buttons-administracion mt-4">
            <button class="btn btn-outline-success" style="color: black; font-size: 18px; font-family: 'Roboto', sans-serif;" (click)="calificaciones()">Calificaciones</button>
            <button class="btn btn-outline-success botones" (click)="pagosAlumnos()">Pago - Estudiante</button>
            <button class="btn btn-outline-success botones" (click)="pagosMaestros()">Pago - Maestros</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>