<div class="view">
  <div class="mask rgba-black-light align-items-center">

    <div class="row">
      <div class="col-md-12 mb-4 text-center">
        <h1 class="h1-reponsive text-white text-uppercase mb-0 pt-md-5 pt-5"
          style="letter-spacing: 10px; font-family: 'Signika', sans-serif; font-size: 80px;"><strong class="d-inline-flex"
            style="background-color: rgba(211, 17, 137, 0.356)"> Universidad CEA</strong></h1>
        <hr class="hr-light my-5">
        <div class="mb-3">
          <h5 class="mb-3 text-white" style="letter-spacing: 3px; font-size: 35px;"><strong class="d-inline-flex"
              style="background-color: rgba(211, 17, 137, 0.356)">El cámino al éxito</strong></h5>
        </div>
        <div clas="buttons" style="margin-top: 7em;">
          <div class="buttons-registers">
            <button class="btn btn-outline-success" style="color: white; font-size: 18px; font-family: 'Roboto', sans-serif;"
              (click)="registroAlumno()">Registrar Alumno</button>
            <button class="btn btn-outline-success botones" (click)="registroMaestro()">Registro Maestro {{valor}}</button>
          </div>
          <div class="buttons-administracion mt-4">
            <button class="btn btn-outline-success" style="color: white; font-size: 18px; font-family: 'Roboto', sans-serif;"
              (click)="listaMaestro()">Administración</button>
            <button class="btn btn-outline-success botones" disabled>Calificaciones</button>
            <button class="btn btn-outline-success botones" disabled>Control de Pagos</button>
          </div>
        </div>  
      </div>

    </div>

  </div>
</div>