/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar-light .navbar-toggler-icon {
    background-color: #007bff !important;
    border-color: rgba(255, 0, 0, 0.85) !important;
}

.navbar {
    background-color:transparent;
}

body{
    background-image: url("../../CEA/src/assets/Backgrounds/background1.jpg"); 
    background-position: left center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-color: bisque; 
}

.button_no_found{
    background-color: transparent; 
    border: transparent
}