<h2>Registro maestro</h2>
<hr>


<form [formGroup]="formulario">
    <div formGroupName="datosPersonales">
        <label>Apellido Paterno: </label>
        <p><input formControlName="apellidopaterno" required type="text" placeholder="aplleido Paterno"></p>
        
        <label>Apellido Materno:</label>
        <p><input formControlName="apellidomaterno" type="text" placeholder="Apellido Materno" required></p>
        
        <label>Nombre(s):</label>
        <p><input formControlName="nombre" type="text" placeholder="Nombre(s)" required></p>
        
        <label>Fecha de nacimiento:</label>
        <p><input formControlName="fechadenacimiento" type="date" required></p>
    
        <label>Edad:</label>
        <p><input formControlName="edad" type="number" min="18" max="98" required></p>
        
        <label>Correo:</label>
        <p><input formControlName="correo" type="email" placeholder="example@example.com" required></p>
        
        <label>Teléfono:</label>
        <p><input formControlName="telefono" type="tel" placeholder="Teléfono" required></p>
        
        <label>Dirección</label>
        <p><input formControlName="direccion" type="text" placeholder="Dirección" required></p>
        
        <label>Sexo:</label>
        <p>
            <select formControlName="sexo">
                <option value="1">Hombre</option>
                <option value="2">Mujer</option>
            </select>
        </p>
    </div>
    
    <div forGroupName="informacionAcademica">
        <label>Titulo profesional:</label>
        <p><input formControlName="tituloprofesional" type="text" placeholder="Titulo profesional" required></p>
        
        <label>Cedula profesional:</label>
        <p><input formControlName="cedulaprofesional" type="text" placeholder="Cedula profesional" required></p>
        
        <label>Institución educativa:</label>
        <p><input type="text" formControlName="institucioneducativa" placeholder="Institución educativa" required></p>
        
        <label>Tipo:</label>
        <p>
            <select formControlName="tipo"> 
                <option value="1">Preparatoria</option>
                <option value="2">Universidad</option>
                <option value="3">Ambas</option>
            </select>
        </p>
    </div>

    

    <p>
        <button class="btn btn-primary" type="submit" (click)="save(formulario.value)">Guardar</button>
    </p>

</form>